.active {
  background-color: rgb(91, 91, 243);
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #36b972 50%, #0ea152 100%);
  filter: drop-shadow(1px -3px 36px rgba(0, 0, 0, 0.5));
  padding: 0 1rem;
  height: 6vh;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.search-form {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.search-form .mr-sm-2 {
  max-width: 300px;
}

nav ul li {
  display: flex;
  align-items: center;
}

.userImage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 0.5rem;
}
img {
  width: 60%;
}
.mr-sm-2 {
  background-color: #ffffff;
  border-radius: 10px;
  color: #333333;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  transition: all 0.3s ease;
}

.mr-sm-2:focus,
.mr-sm-2:hover {
  background-color: #f9f9f9;
  border-color: #cccccc;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  outline: none;
}
.logout-button {
  background-color: #ffffff;
  border-radius: 10px;
  color: #333333;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd;
  transition: all 0.3s ease;
  margin-left: 0.5rem;
}
.icon {
  width: 50px;
}
.iconLogout {
  width: 50%;
  align-self: center;
  margin-top: 5%;
}

.modalText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}

.modal-footer-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.modal-footer-vertical .btn {
    width: 100%; 
    max-width: 300px; 
    border-radius: 20px;
    padding: 10px;
}

.modal-footer-vertical .btn-primary {
  background: linear-gradient(180deg, #36b972 50%, #0ea152 100%);
  border: none;
  color: white;
}
