

.custom-background-lihgt{
    background: #f9f9f9;
    color: #333333;
}

.custom-background-dark{
    background: #333333;
    color: #f9f9f9;
    
}

.game-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}