/* Estilo predeterminado para el botón */
.custom-button-light {
  width: 22.625rem;
  height: 2.9375rem;
  gap: 0px;
  border-radius: 0.25rem;
  background: #000000;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  .custom-button-dark {
    background: #fffdfd;
  }
}

/* Estilo específico para el botón de redes sociales */
.social-media-style-button-light {
  width: 288px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f7f2f2;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button-light-next {
  float: right;
  background-color: var(--coral-reff);
  /* border: none; */
  width: 10%;
}
.custom-button-dark-next {
  float: right;
  background-color: var(--coral-reff);
  /* border: none; */
  width: 10%;
}
