/* Estilo predeterminado para el botón */
.custom-button-ligth {
  width: 288px;
  height: 47px;
  gap: 0px;
  border-radius: 6px 0px 0px 0px;
  background: #4CC986;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Estilo específico para el botón de redes sociales */
.social-media-style-button-ligth {
  width: 288px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFFFFF;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  
}

