.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .card, .skeleton-card {
    width: 363px;
    height: 314px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }