.card {
  width: 363px;
  height: 314px;
  display: flex;
  flex-direction: column;
  background-position-y: top;
  background-color: var(--dark-gray);
  border: none;
  
}
.background-image {
  min-height: 179px;
  width: 363px;
  background: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

.details {
    display: flex;
    flex-direction: column;
    color: var(--light);
}

.title {
    width: 293px;
    height: 33px;
    font: Exo;
    font-size: 1.5rem;
}

.number-info {
}
.details-block {
}
.card-light {
}

.card-dark {
}
