:root {
  /* --primary: #daffea; */
  --primary-light-green:
    #5FE19B;
  --primary-dark-green:
    #4CC986;
  --secondary-light-blue:
    #5F81FB;
  --secondary-blue:
    #1245C9;
  --secondary-dark-blue:
    #06207B;
  --coral-reff:
    #FB5F5F;
  --hey-honey:
    #FFDC22;
  --black:
    #151515;
  --dark-gray:
    #303030;
  --medium-gray:
    #515151;
  --light-gray:
    #939393; 
  --light:
    #FFFFFF;
}

:root {
  font-family: Exo, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}